In [10]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_selection import chi2

In [2]:
df = pd.read_csv("ml book2.csv")
df.head()

   Day   Outlook  temp humidity  windy play
0    1     sunny   hot     high  False   NO
1    2     sunny   hot     high   True   NO
2    3  Overcast   hot     high  False  YES
3    4     rainy  mild     high  False  YES
4    5     rainy  cold   Normal  False  YES

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Day       14 non-null     int64
 1   Outlook   14 non-null     object
 2   temp      14 non-null     object
 3   humidity  14 non-null     object
 4   windy     14 non-null     bool
 5   play      14 non-null     object
dtypes: bool(1), int64(1), object(4)
memory usage: 702.0+ bytes

In [6]:
le = LabelEncoder()

In [7]:
df['Outlook'] = le.fit_transform(df['Outlook'])
df['temp'] = le.fit_transform(df['temp'])
df['humidity']=le.fit_transform(df['humidity'])
df['windy'] = le.fit_transform(df['windy'])
df['play'] = le.fit_transform(df['play'])

In [8]:
df

    Day  Outlook  temp  humidity  windy  play
0     1        3     1         1      0     0
1     2        3     1         1      1     0
2     3        0     1         1      0     1
3     4        2     2         1      0     1
4     5        2     0         0      0     1
5     6        2     0         0      1     0
6     7        1     0         0      1     1
7     8        3     2         1      0     0
8     9        3     0         2      0     1
9    10        2     2         2      0     1
10   11        3     2         2      1     1
11   12        1     2         1      1     1
12   13        1     1         2      0     1
13   14        2     2         1      1     0

In [9]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [11]:
f_p_values=chi2(x,y)
f_p_values

(array([1.75259259, 1.4       , 0.02222222, 0.53481481, 0.53333333]),
 array([0.18555114, 0.23672357, 0.88149745, 0.46458962, 0.46520882]))

In [12]:
p_values=pd.Series(f_p_values[0])
p_values.index=x.columns
p_values

Day         1.752593
Outlook     1.400000
temp        0.022222
humidity    0.534815
windy       0.533333
dtype: float64

In [13]:
p_values.sort_index(ascending=False)

windy       0.533333
temp        0.022222
humidity    0.534815
Outlook     1.400000
Day         1.752593
dtype: float64